<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
  <filter>
    <whitelist>
      <directory suffix=".php">shared/src</directory>
      <directory suffix=".php">cli/src</directory>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
